<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="topnav">
    <a class="active" href="/">Home</a>

  <h2>Exhibit</h2>



  <h3>Title: <%= @exhibit.title %> </h3>
  <hr>

  <img id="picture" src=<%=@exhibit.url%> alt=" <%@exhibit.title%> ">

  <p>Artist Name: <%= @exhibit.artist.name %> </p>
  <p>Exhibit Type: <%= @exhibit.exhibit_type%> </p>
  <p>Exhibit Date: <%= @exhibit.exhibit_date%> </p>

  <hr>


</body>
</html>
