<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style_manager.css" type="text/css">
</head>
<body class="index_page">


  <div class="topnav">
    <a class="active" href="/">Home</a>

  <h1>Current Exhibits</h1>

<div class="index-list">
  <% @exhibits.each do |exhibit| %>
<div class ="index-item">
  <h4>Title: <%= exhibit.title %> </h4>
  <p>Artist Name: <%= exhibit.artist.name %></p>
  <p><a href="/manager/<%= exhibit.id %>">Edit Exhibit</a></p>
</div>
  <% end %>
</div>
  <p><a href="/manager/add_exhibit">New Exhibit</a></p>


  <hr>
  <h1>Current Artists</h1>

  <% @artists.each do |artist| %>
<div class ="index-artist">
  <p>Name: <%= artist.name %> </p>
  <p>Lifetime: <%= artist.lifetime %> </p>
  <p>nationality: <%= artist.nationality %> </p>

  <form action="/manager/<%= artist.id %>/artist_delete" method="POST">
    <input type="submit" value="Remove Artist"></form>
</div>


  <% end %>

  <p><a href="/manager/new_artist">New Artist</a></p>
  <p><a href="/manager/new_category">New Category</a></p>

</body>
</html>
